body
	{
		width:50%;
		font-size:1em;
		text-align: justify;
	}
title
	{
		font-size:xx-large;
	}

body, div, seg
	{
		display:block;
	}
div[type="chapter"]:before
	{
		content: attr(id) ": ";
	}
div[type="chapter"]
	{
		margin:3rem;
	}
rs
	{
		text-decoration: underline;
	}

rs[key^="org"]
	{
		color:purple;
	}
rs[key^="per"]
	{
		color:DeepSkyBlue;
	}
rs[key^="pla"]
	{
		color:ForestGreen;
	}
rs[key^="tim"]
	{
		color:darkgreen;
	}
time
	{
		color:blue;
	}
rs[key="per14"],
rs[key="per1"],
rs[key="per17"]
	{
		color:white;
		background-color:CornflowerBlue ;
	}
said
	{
		border: grey solid 2px;
	}
said[who="per14"],
said[who="per1"],
said[who="per17"]
	{
		border-color:CornflowerBlue ;
	}
ab[type="verse"]
	{
				
		display:block;
		margin: 1rem;
	}

ab[type="verse"]
	{
		display:block;
		margin:1rem;
	}
ab[type="verse"]:before
	{
		content:attr(n);
		color:grey;
	}
div[type="chapter"]:before
	{
		content:'Capítulo 'attr(n);
		color:grey;
	}
rs:before	{
		content:attr(key);
		color:grey;
		font-size:0.7rem;
		background-color:white;
	}
said:before	{
		content:attr(who);
		color:grey;
		font-size:0.7rem;
		background-color:white;
	}
