body
	{
		width:70%;
		font-size:1em;
		text-align: justify;
	}
title
	{
		font-size:xx-large;
	}

body, div, seg
	{
		display:block;
	}
div[type="chapter"]:before
	{
		content: attr(id) ": ";
	}
div[type="chapter"]
	{
		margin:3rem;
	}
ab
    {
        line-height:1.5rem;
    }
    /*
q[type="oral"]
	{
		border: blue solid 2px;
	}
q[type="dream"]
	{
		border:pink solid 2px;
	}
q[type="written"]
	{
		border:green solid 2px;
	}
q[type="thought"]
	{
		border:red solid 2px;
	}
q[type="idea"]
	{
		border:purple solid 2px;
	}
q[type="soCalled"]
	{
		border:orange solid 2px;
	}
	q[type="prayer"]
	{
		border:black solid 2px;
	}
q[type="spoken"]
	{
		border:grey solid 2px;
	}*/
q[type]
	{
		border:black solid 2px;
	}

q:before
	{
		content:'who: 'attr(who)' | 2who: 'attr(corresp) ' ';
		color:grey;
	}

ab[type="verse"]
	{
				
		display:block;
		margin: 1rem;
	}

ab[type="verse"]
	{
		display:block;
		margin:1rem;
	}
ab[type="verse"]:before
	{
		content:attr(n);
		color:grey;
	}
div[type="chapter"]:before
	{
		content:'Capítulo 'attr(n);
		color:grey;
	}
rs
	{
		text-decoration: underline;
	}
rs:before	{
		content:attr(key);
		color:grey;
		font-size:0.7rem;
		background-color:white;
	}
ab[type="pericope"]
	{
		color:grey;
	}


/**/

q[corresp="per1"]
	{
		border: red solid 2px;
	}
q[corresp="org3"]
	{
		border:blue solid 2px;
	}
q[corresp="org2"],
q[corresp="org5"],
q[corresp="org7"]

	{
		border:green solid 2px;
	}
q[corresp="per14"]
	{
		border: orange solid 2px;
	}
q[corresp="general"]
	{
		border: yellow solid 2px;
	}
