 TEI{ font-size:0.4px;

width:75%;
margin:5% auto 0;
 }

 teiHeader
 {
 display:none;
 }
/*
 div[type="chapter"]
 {
 display:block;
 	border:black 3px solid;
	float:left;
	padding:1px;
	max-width:10%;
 }
 */
  div[type="pericope"]
 {
 display:block;
 margin:2rem 0 0 0;
 	border:black 3px solid;
	/*border-radius:50%;*/
	float:left;
	width:200em;
	height:200em;
	padding:1px;

 }

   ab[type="verse"]
 {
	display:block;
	margin:2em;
 	border:blue 1px solid;
	/*border-radius:50%;*/
	float:left;
	width:40em;
	height:40em;
	background-color:white;

 }
ab>q 
{
	display:block;
	background-color:blue;
}

ab>q[who="per1"]
 {
 	border:blue 1px solid;
	background-color:blue;
	color:white;

 }
ab>q:not([who="per1"])
{
 	border:red 1px solid;
	background-color:red;
	color:white;
}
  ab[type="verse"]:hover
	{
	font-size:15px;
	position:fixed;
	z-index:1;
	}

