 TEI{ font-size:1px;
 }
 teiHeader
 {
 display:none;
 }
 div[type="chapter"]
 {
 display:block;
 	border:black 3px solid;
	/*border-radius:50%;*/
	float:left;
	padding:1px;
	max-width:10%;
 }
 
  div[type="pericope"]
 {
 display:block;
 margin:2rem 0 0 0;
 	border:black 3px solid;
	/*border-radius:50%;*/
	float:left;
	max-width:30%;
	min-width:10%;
	padding:1px;

 }
   ab[type="verse"]
 {
 display:block;
 margin:1%;
 	border:blue 1px solid;
	/*border-radius:50%;*/
	float:left;
	max-width:5%;
	min-width:10%;
	background-color:white;

 }
rs
{
background-color:red;
}
