
 TEI
 {
    font-size:1px;
   width:75%;
   margin:5rem auto 0;
    clear:both;
    
 }
TEI:first-of-type::before
{
font-size: 1rem;

}

author, publicationStmt, sourceDesc, encodingDesc,revisionDesc, idno, principal
{
    display:none;
}

title
{

     clear:both;
     display:block;
     font-size:2rem;
}
 
 head, ab[type="pericope"]
 {
     display:none;
 }
div [type="chapter"]{
    /*display:block;
    float:left;
 	margin:3em;
	padding:3em;*/
}
ab[type="verse"]:last-child
{
    border-right: 5px solid lightgrey;
}
div[type="pericope"]:last-child ab[type="verse"]:last-child
{
    border-right: 5px solid grey ;
}
ab[type="verse"]
{
	display:block;
 	margin:1em;
 	border:black 1px solid;
	float:left;
	width:20em;
	height:20em;
	padding:1em;
}

ab[type="verse"]:hover
{
	font-size:15px;
	position:relative;
	z-index:1;
	background-color:white;
}


q
 {
	color:white;
 }

